@import "@picocss/pico/css/pico.min.css";

h1,
h2 {
  --pico-font-family: "Fira Sans", sans-serif;
}

/* Fix Pico's nav & anchor button spacing issue */
nav li a[role="button"] {
  margin-top: 0;
}

/* Fix Pico's grid & anchor button spacing issue */
.grid a[role="button"] {
  margin-bottom: var(--pico-spacing);
}
